/*Base Reset*/
* {
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background: white;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}

.wrapper {
    position: relative;
    overflow-x: hidden;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    z-index: 2;
    padding: 20px 0;
}

header > #logo {
    display: flex;
    align-self: center;
    margin-left: 28px;
    margin-top: 30px;
    width: 40vw;
}

header nav {
    display: flex;
    flex-direction: column;
    text-transform: uppercase; 
    padding-left: 20px;
    font-family: 'Barlow Condensed', sans-serif;
}

nav > ul {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    left: 0;
    width: 30vw;
}

nav li {
    list-style: none;
    padding: 5px 20px; 
}

nav li a {
    text-decoration: none;
    color: hsl(230, 29%, 20%);
    font-size: 14px;
    font-weight: 650;
    font-family: 'Barlow Condensed', sans-serif;
}

nav li a:hover {
    color: rgb(131, 130, 130);
    text-decoration: underline;
}

nav li a.active {
    color: rgb(29, 28, 28);
}

nav li .menu {
    display: none;
}

/* Checkbox */

nav .menu-icon {
    position: relative;
    display: inline-block;
    user-select: none;
    float: right;
    padding: 28px 20px;
    cursor: pointer;
}

nav .menu-icon .nav-icon {
    position: relative;
    display: block;
    background: #333;
    transition: background .2s ease-out;
    height: 2px;
    width: 18px;
}


@media screen and (max-width: 700px){
    nav li:not(:last-child) {
        display: none;
    }
    nav li a.menu {
        display: block;
        float: right;
    }

     nav.responsive {
         position: relative;
     }

     nav.responsive li a.menu {
         position: absolute;
         right: 0;
         left: 0;
     }

     nav.responsive ul {
         float: none;
         display: block;
         text-align: left;
     }
}

.bg-shape {
    display: flex;
    position: absolute;
    background: hsl(207, 33%, 95%);
    width: 42%;
    height: 55%;
    z-index: -1;
    top: 0;
    right: 0;
    border-bottom-left-radius: 45px;
}

main {
    display: flex;
    position: relative;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    z-index: 1;
}

main .main-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 100px;
    padding-left: 10px;
    
}

main .dashboard {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 10px;
}

.dashboard > button {
    background: hsl(230, 29%, 20%);
    border: none;
    border-radius: 15px;
    color: white;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 700px;
    font-family: 'Barlow Condensed', sans-serif;
}

.dashboard > p {
    color: hsl(231, 7%, 65%);
    padding: 5px;
    font-size: 14px;
}

main .insights {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 30px;
}

.insights > h1 {
    width: 60%;
    color: hsl(230, 29%, 20%);
    font-size: 40px;
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 10px;
}

.insights > p {
    width: 40%;
    font-size: 18px;
    padding: 10px 0 8px;
    margin-top: 10px;
    color: hsl(228, 11%, 53%);
}

main .preview {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.preview > input {
    width: 120px;
    height: 35px;
    background: hsl(0, 100%, 68%);
    color: white;
    padding: 15px 5px 15px 5px;
    font-size: 10px;
    font-weight: 700;
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.preview > input:hover {
    background: hsl(0, 88%, 73%);
}

.preview > p {
    text-transform: uppercase;
    align-self: center;
    padding-left: 15px;
    color: hsl(231, 7%, 65%);
    font-size: 14px;
}

main #device {
    position: absolute;
    right: -195px;
    width: 760px;
    height: 264;
}

footer {
    background: transparent;
    display: flex;
    justify-content: center;
    margin-top: 250px;
} 