/*Base Reset*/
* {
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background: white;
    box-sizing: border-box;
    position: relative;
    overflow-x: hidden;
    font-family: 'Barlow Condensed', sans-serif;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    z-index: 2;
    padding: 20px 0;
}

header > #logo {
    display: flex;
    align-self: center;
    margin-left: 50px;
    margin-top: 30px;
    width: 40vw;
}

header nav {
    display: flex;
    flex-direction: column;
    text-transform: uppercase; 
    padding-left: 20px;
}

nav > ul {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    left: 0;
    width: 30vw;
}

nav li {
    list-style: none;
    padding: 5px 20px 5px 20px; 
}

nav li a {
    text-decoration: none;
    color: hsl(230, 29%, 20%);
    font-size: 14px;
    font-weight: 650;
}

.bg-shape {
    display: flex;
    position: absolute;
    background: hsl(207, 33%, 95%);
    width: 42%;
    height: 60%;
    z-index: -1;
    top: 0;
    right: 0;
    border-bottom-left-radius: 45px;
}

main {
    display: flex;
    position: relative;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    z-index: 1;
}

main .main-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 60px;
    
}

main .dashboard {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 10px;
}

.dashboard > button {
    background: hsl(230, 29%, 20%);
    border: none;
    border-radius: 15px;
    color: white;
    padding: 0 10px;
}

.dashboard > p {
    color: hsl(231, 7%, 65%);
    padding: 5px;
}

main .insights {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.insights > h1 {
    width: 60%;
    font-size: 48px;
    text-transform: uppercase;
}

.insights > p {
    width: 40%;
}

main .preview {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

main #device {
    position: absolute;
    right: -210px;
    width: 760px;
    height: 264;
}

footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 250px;
} 